# redis-producer
REDIS_PUBLIC_PORT=6379

# postgres-producer
POSTGRES_PUBLIC_PORT=5432
POSTGRES_DB=demo_app
POSTGRES_USER=demo_user
POSTGRES_PASSWORD=demo_password

# node-consumer-api
APP_PUBLIC_PORT=18081
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgres://demo_user:demo_password@localhost:5432/demo_app
REQUEST_TIMEOUT_MS=2500

# worker-consumer
WORKER_PUBLIC_PORT=18082
CACHE_URL=redis://localhost:6379
